.lpv {
  &__fbt {
    background: none;
    border: none;
    outline: none;
    color: var(--c-lpv-font, $lpv-font);
    align-items: normal;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.5;
    text-decoration: none;

    @media (hover: hover) {
      &:hover:not(.disabled):not([disabled]) {
        background: var(--c-lpv-fbt-hover, lpv-fbt-hover);
        color: #fff;
      }
    }

    &.active {
      background: var(--c-lpv-accent, $lpv-accent) !important;
      color: #fff;
    }

    &.disabled,
    &[disabled] {
      pointer-events: none; // disabled elements don't fire mouse events, this will make any mouse events on a disabled element fall through to the parent element
      opacity: 0.4;
      cursor: default;
    }
  }
}
