@import './font-embed';

.icon:before {
  font-family: 'fontello';

  font-size: 1.1em;
  width: 1em;
  text-align: center;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-step-forward:before {
  content: '\e800';
} /* '' */
.icon-step-backward:before {
  content: '\e801';
} /* '' */
.icon-left-open:before {
  content: '\e802';
} /* '' */
.icon-right-open:before {
  content: '\e803';
} /* '' */
.icon-ellipsis-vert:before {
  content: '\f142';
} /* '' */
