$grid-side-column: fit-content(40%) !default;
$grid-side-column-full-screen: minmax(232px, 1fr) !default;
$grid-side-row: 6em !default;
$player-height: 2em !default;
$controls-height: 4em !default;
$moves-auto-to-right: 500px !default;
$board-min-width: 200px !default;

.lpv {
  display: grid;
  overflow: hidden;
  grid-row-gap: 0;

  --controls-height: #{$controls-height};
  &--controls-false {
    --controls-height: 0;
  }

  --select-height: 0;
  &--select {
    --select-height: $player-height;
  }

  &--moves-false {
    grid-template:
      'select' var(--select-height)
      'board' auto
      'controls' var(--controls-height)
      / minmax(200px, calc(100vh - var(--controls-height)));
  }

  &--moves-right {
    grid-template:
      'board      select' var(--select-height)
      'board      side' auto
      'controls   side' var(--controls-height)
      / auto $grid-side-column;
  }

  &--moves-bottom {
    grid-template:
      'select' var(--select-height)
      'board' auto
      'controls' var(--controls-height)
      'side' auto
      / auto;
    .lpv__controls {
      border-bottom: 1px solid $lpv-border;
    }
  }

  &--moves-auto {
    grid-template:
      'board      select' var(--select-height)
      'board      side' auto
      'controls   side' var(--controls-height)
      / minmax($board-min-width, calc(100vh - var(--controls-height))) $grid-side-column-full-screen;
    @media (max-width: #{$moves-auto-to-right}) {
      grid-template:
        'select' var(--select-height)
        'board' auto
        'controls' var(--controls-height)
        'side' auto
        / minmax($board-min-width, calc(100vh - var(--controls-height) - #{$grid-side-row}));
    }
  }

  &--players {
    &.lpv--moves-false {
      grid-template:
        'select' var(--select-height)
        'player-top' $player-height
        'board' auto
        'player-bot' $player-height
        'controls' var(--controls-height)
        / auto;
    }

    &.lpv--moves-right {
      grid-template:
        'player-top side' $player-height
        'board      side' auto
        'player-bot side' $player-height
        'controls   side' var(--controls-height)
        / auto auto;

      &.lpv--select {
        grid-template-areas:
          'player-top select'
          'board      side'
          'player-bot side'
          'controls   side';
      }
    }

    &.lpv--moves-bottom {
      grid-template:
        'select' var(--select-height)
        'player-top' $player-height
        'board' auto
        'player-bot' $player-height
        'controls' var(--controls-height)
        'side' auto
        / auto;
      .lpv__controls {
        border-bottom: 1px solid $lpv-border;
      }
    }

    &.lpv--moves-auto {
      grid-template:
        'player-top side' $player-height
        'board      side' auto
        'player-bot side' $player-height
        'controls   side' var(--controls-height)
        / minmax($board-min-width, calc(100vh - 2 * #{$player-height} - var(--controls-height)))
          $grid-side-column-full-screen;
      &.lpv--select {
        grid-template-areas:
          'player-top select'
          'board      side'
          'player-bot side'
          'controls   side';
      }
      @media (max-width: #{$moves-auto-to-right}) {
        grid-template:
          'select' var(--select-height)
          'player-top' $player-height
          'board' auto
          'player-bot' $player-height
          'controls' var(--controls-height)
          'side' auto
          / minmax($board-min-width, calc(100vh - 2 * #{$player-height} - var(--controls-height) - #{$grid-side-row}));
      }
    }
  }

  &__board {
    grid-area: board;
  }
  &__side {
    grid-area: side;
  }
  &__player--top {
    grid-area: player-top;
  }
  &__player--bottom {
    grid-area: player-bot;
  }
  &__controls {
    grid-area: controls;
  }
  &__select {
    grid-area: select;
  }
  &__menu,
  &__pgn {
    grid-area: 1 / 1 / 2 / 2;
    .lpv--players & {
      grid-area: 1 / 1 / 4 / 2;
    }
  }
}
