.lpv {
  &__menu {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;
    border-bottom: 2px solid $c-accent;
    background: mix($c-accent, $c-bg, 15%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    &__entry.lpv__fbt {
      text-align: left;
      padding: 0.8em 2.5em;
      transition: none;
      &::before {
        color: $c-accent;
        font-size: 2em;
      }
      &:hover::before {
        color: $c-accent-over;
      }
    }
  }
}
