.lpv {
  &__pane {
    z-index: 2;
    border-bottom: 2px solid $c-accent;
    background: $c-bg-pane;
    display: flex;
    flex-flow: column;
    justify-content: center;
    .lpv__fbt {
      text-align: left;
      padding: 0.8em 2.5em;
      transition: none;
      &::before {
        color: $c-accent;
        font-size: 2em;
      }
      &:hover::before {
        color: $c-accent-over;
      }
    }
  }

  &__pgn {
    &__text {
      flex: 1 1 auto;
      background: mix($c-bg-pane, $c-bg, 30%);
      color: $c-font;
      padding: 0.8em 1.3em;
    }
  }
}
