body ::-webkit-scrollbar,
body ::-webkit-scrollbar-corner {
  width: 0.5rem;
  background: $lpv-bg;
}

body ::-webkit-scrollbar-thumb {
  background: mix($lpv-font, $lpv-bg, 20%);
}

body ::-webkit-scrollbar-thumb:hover,
body ::-webkit-scrollbar-thumb:active {
  background: $lpv-font-shy;
}
