.lpv {
  &__side {
    grid-area: side;
    overflow: hidden;
    display: flex;
    flex-flow: column;
  }
  &__moves {
    flex: 1 1 0;
    overflow-y: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;
    will-change: scroll-position;
    user-select: none;
    line-height: 1.7;
    min-width: 20ch;
    index {
      color: mix($c-font, $c-bg, 70%);
    }
    > index {
      flex: 0 0 13%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    move {
      padding-left: 3%;
      cursor: pointer;
      font-size: 1.1em;
      &.empty {
        color: mix($c-font, $c-bg, 50%);
      }
      &:not(.empty):hover {
        background: mix($c-accent, $c-bg, 30%);
      }
      &.current {
        font-weight: bold;
        background: mix($c-accent, $c-bg, 70%);
        color: $c-accent-over;
      }
    }
    > move {
      flex: 0 0 40%;
    }
    > variation {
      flex: 1 1 100%;
      display: flex;
      flex-flow: row wrap;
      font-size: 0.8em;
      background: $c-bg2;
      padding: 0.2em 0.6em;
      index:not(:first-child) {
        margin-left: 0.5em;
      }
    }
  }
}
