$c-site-hue: 37;
$c-bg: hsl($c-site-hue, 5%, 18%);
$c-bg2: hsl($c-site-hue, 5%, 22%);
$c-bg3: hsl($c-site-hue, 5%, 15%);
$c-accent: hsl(88, 62%, 37%);
$c-accent-over: white;
$c-font: #aaa;
$c-font-shy: mix($c-font, $c-bg, 50%);
$c-font-accent: mix($c-accent, #fff, 50%);
$c-border: hsl(0, 0%, 25%);

@import './chessground.base';
@import './chessground.transp';
@import './chessground.cburnett';
@import './fbt';
@import './util';
@import './side';
@import './menu';
@import './controls';
@import './scrollbar';

.lpv {
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background: $c-bg;
  color: $c-font;
  box-sizing: border-box;

  display: grid;
  overflow: hidden;
  grid-template-areas:
    'board      side'
    'controls   side';
  grid-template-columns: auto fit-content(24ch);
  grid-template-rows: auto;
  grid-row-gap: 0;

  &__board {
    grid-area: board;
    .cg-wrap {
      @extend %square;
    }
    cg-board {
      box-shadow: none;
    }
  }
}
