$c-site-hue: 37;
$c-bg: hsl($c-site-hue, 5%, 18%);
$c-font: #999;
$c-border: hsl(0, 0%, 25%);
$c-accent: hsl(88, 62%, 37%);
$c-accent-over: white;

@import './chessground.base';
@import './chessground.transp';
@import './chessground.cburnett';
@import './fbt';
@import './util';

.lpv {
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background: $c-bg;
  color: $c-font;

  display: grid;
  overflow: hidden;
  grid-template-areas:
    'board      side'
    'controls   side';
  grid-template-columns: auto fit-content(24ch);
  grid-template-rows: auto;
  grid-row-gap: 0;

  &__board {
    grid-area: board;
    .cg-wrap {
      @extend %square;
    }
    cg-board {
      box-shadow: none;
    }
  }

  &__side {
    grid-area: side;
    overflow: hidden;
    display: flex;
    flex-flow: column;
  }
  &__moves {
    flex: 1 1 0;
    overflow-y: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;
    will-change: scroll-position;
    user-select: none;
    line-height: 1.7;
    min-width: 20ch;
    index {
      flex: 0 0 13%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    move {
      flex: 0 0 40%;
      padding-left: 3%;
      cursor: pointer;
      font-size: 1.1em;
      &:hover {
        background: mix($c-accent, $c-bg, 30%);
      }
      &.current {
        font-weight: bold;
        background: mix($c-accent, $c-bg, 70%);
        color: $c-accent-over;
      }
    }
  }

  &__controls {
    grid-area: controls;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    .lpv__fbt {
      flex: 1 1 auto;
      padding: 0.4em 0.7em;
      border-left: 1px solid $c-border;
      &:first-child {
        border: none;
      }
    }

    &__menu.lpv__fbt {
      flex: 0 1 auto;
      padding: 0.4em 1em;
    }
    &__backward::before {
      content: '←';
    }
    &__forward::before {
      content: '→';
    }
    &__backward,
    &__forward {
      padding: 0.4rem 0.7rem;
      &::before {
        font-size: 3em;
        line-height: 0.5em;
      }
    }
  }

  &__menu {
    grid-area: 1 / 1 / 2 / 2;
    outline: 2px solid $c-accent;
    background: mix($c-accent, $c-bg, 15%);
    display: flex;
    flex-flow: column;
    padding-top: 2em;
    &__entry.lpv__fbt {
      text-align: left;
      padding: 0.8em 2.5em;
      transition: none;
      &::before {
        color: $c-accent;
        font-size: 2em;
      }
      &:hover::before {
        color: $c-accent-over;
      }
    }
  }
}
