body {
  background: var(--demo-bg, #161512);
  font-family: 'Noto Sans';
  --board-color: #886f46;
  margin: 0;
}

.viewers {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 2em;
}

.viewers > div {
  max-width: 600px;
}

iframe {
  border: 1px solid #888;
}
.frames {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: flex-start;
}
