body {
  background: #161512;
  font-family: 'Noto Sans';
  --board-color: #886f46;
}

.viewers {
  margin: 1em;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  /* gap: 2em; */
}

.viewers > div {
  max-width: 600px;
}
